.box {
  background-color: rgb(32, 31, 31);
  border-radius: 5px;
  width: 75px;
  height: 75px;
  /* margin: 2px; */
}

.parentBox {
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 250px;
  width: 19%;
}
h1 {
  color: red;
  text-align: center;
}
